/api/target/
/example-plugin/target/
/conflictive-plugin/target/
/container-examplelibrary/example-plugin/target
/container-examples/example-plugin/target/
/container-examples/conflictive-plugin/target/
/examples/conflictive-plugin/target/
/examples/example-plugin/target/
/impl/target/
/examples/container-examplelibrary/target/
/examples/container-runnable/target/