<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ConflictiveServlet</servlet-name>
        <servlet-class>eu.ggam.container.integrationtests.servlet.ConflictiveServlet</servlet-class>
        <init-param>
            <param-name>test_param</param-name>
            <param-value>This is the value</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConflictiveServlet</servlet-name>
        <url-pattern>/conflictive.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitoringServlet</servlet-name>
        <servlet-class>eu.ggam.container.examplelibrary.MonitoringServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringServlet</servlet-name>
        <url-pattern>/monitoring.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonitoringServlet2</servlet-name>
        <servlet-class>eu.ggam.container.examplelibrary.MonitoringServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonitoringServlet2</servlet-name>
        <url-pattern>/monitoring2.html</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Test</filter-name>
        <filter-class>eu.ggam.container.integrationtests.servlet.TestFilter</filter-class>
        <init-param>
            <param-name>forbidden_param</param-name>
            <param-value>forbidden</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Test</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Servlet matching -->
    <servlet>
        <servlet-name>DefaultServlet</servlet-name>
        <servlet-class>eu.ggam.container.integrationtests.servlet.servletmatch.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExactPatternServlet</servlet-name>
        <servlet-class>eu.ggam.container.integrationtests.servlet.servletmatch.ExactPatternServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExactPatternServlet</servlet-name>
        <url-pattern>/pattern/exact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrefixPatternServlet</servlet-name>
        <servlet-class>eu.ggam.container.integrationtests.servlet.servletmatch.PrefixPatternServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrefixPatternServlet</servlet-name>
        <url-pattern>/pattern/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SufixPatternServlet</servlet-name>
        <servlet-class>eu.ggam.container.integrationtests.servlet.servletmatch.SufixPatternServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SufixPatternServlet</servlet-name>
        <url-pattern>*.php</url-pattern>
    </servlet-mapping>
    <!-- Filter Matchting -->
    <filter>
        <filter-name>ExactFilter</filter-name>
        <filter-class>eu.ggam.container.integrationtests.servlet.filtermatch.ExactFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExactFilter</filter-name>
        <url-pattern>/filter_match/exact</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PrefixFilter</filter-name>
        <filter-class>eu.ggam.container.integrationtests.servlet.filtermatch.PrefixFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrefixFilter</filter-name>
        <url-pattern>/filter_match/prefix/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SufixFilter</filter-name>
        <filter-class>eu.ggam.container.integrationtests.servlet.filtermatch.SufixFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SufixFilter</filter-name>
        <url-pattern>*.filtered</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SpecialServlet</servlet-name>
        <servlet-class>eu.ggam.container.integrationtests.servlet.filtermatch.SpecialServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialServlet</servlet-name>
        <url-pattern>/special-named-servlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>NamedServletFilter</filter-name>
        <filter-class>eu.ggam.container.integrationtests.servlet.filtermatch.NamedServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NamedServletFilter</filter-name>
        <servlet-name>SpecialServlet</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>FilterOne</filter-name>
        <filter-class>eu.ggam.container.integrationtests.servlet.filtermatch.order.FilterOne</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterOne</filter-name>
        <url-pattern>/filters/ordered-filter</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterTwo</filter-name>
        <filter-class>eu.ggam.container.integrationtests.servlet.filtermatch.order.FilterTwo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterTwo</filter-name>
        <url-pattern>/filters/ordered-filter</url-pattern>
    </filter-mapping>
    <!-- HttpServletRequest -->
    <servlet>
        <servlet-name>HttpServletRequestTest</servlet-name>
        <servlet-class>eu.ggam.container.integrationtests.servlet.httpservletrequest.ServletPathPathInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletRequestTest</servlet-name>
        <url-pattern>/lawn/*</url-pattern>
        <url-pattern>/garden/*</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/pathInfo_exact</url-pattern>
    </servlet-mapping>
</web-app>
